In [33]:
from pandas_profiling import ProfileReport

In [3]:
stocks.head()

,TIPREG,DATA DO PREGAO,CODBDI,CODNEG,TPMERC,NOMRES,ESPECI,PRAZOT,MODREF,PREABE,...,TOTNEG,QUATOT,VOLTOT,PREEXE,INDOPC,DATVEN,FATCOT,PTOEXE,CODISI,DISMES
0,1,2019-01-02,2,AALR3,10,ALLIAR,ON NM,NaN,R$,13.31,...,856,264200,3523962.00,0.0,0,9999-12-31,1,0.0,BRAALRACNOR6,100
1,1,2019-01-02,96,AALR3F,20,ALLIAR,ON NM,NaN,R$,13.30,...,21,500,6661.47,0.0,0,9999-12-31,1,0.0,BRAALRACNOR6,100
2,1,2019-01-02,2,AAPL34,10,APPLE,DRN,NaN,R$,60.71,...,45,16800,1015969.00,0.0,0,9999-12-31,1,0.0,BRAAPLBDR004,127
3,1,2019-01-02,96,AAPL34F,20,APPLE,DRN,NaN,R$,61.00,...,11,282,17046.51,0.0,0,9999-12-31,1,0.0,BRAAPLBDR004,127
4,1,2019-01-02,2,ABBV34,10,ABBVIE,DRN,NaN,R$,342.84,...,1,300,102852.00,0.0,0,9999-12-31,1,0.0,BRABBVBDR001,111

In [6]:
(stocks.TPMERC == 10).sum()

509125

In [7]:
(stocks.TPMERC == 20).sum()

308664

In [11]:
stocks.TPMERC.value_counts(normalize=True)

70    0.335303
10    0.226734
80    0.211586
20    0.137460
30    0.071008
12    0.011109
13    0.006691
17    0.000110
Name: TPMERC, dtype: float64

In [7]:
mask = (stocks.TPMERC == 10) | (stocks.TPMERC == 20)

In [9]:
mask.sum()

817789

In [17]:
selected_stocks = stocks.loc[mask, ['DATA DO PREGAO', 
                                    'PREABE', 
                                    'PREMAX', 
                                    'PREMIN', 
                                    'PREULT', 
                                    'VOLTOT']]

In [18]:
selected_stocks.head()

  DATA DO PREGAO  PREABE  PREMAX  PREMIN  PREULT      VOLTOT
0     2019-01-02   13.31   13.50   13.25   13.25  3523962.00
1     2019-01-02   13.30   13.61   12.98   13.40     6661.47
2     2019-01-02   60.71   60.71   59.89   60.41  1015969.00
3     2019-01-02   61.00   61.00   54.93   60.67    17046.51
4     2019-01-02  342.84  342.84  342.84  342.84   102852.00

In [19]:
selected_stocks.to_csv('selected_stocks.csv', index=False)

In [34]:
profile = ProfileReport(selected_stocks, title="B3 Stocks")

In [36]:
profile.to_file("selected_stocks_for_tcc.html")

Export report to file: 100%|██████████| 1/1 [00:00<00:00, 85.91it/s]